{{#let (changeset this.post) as |changeset|}}
  <form
    {{on 'submit' (fn this.handleSubmit changeset)}}
  >
    <div>
      <label for='title-input'>Title</label>
      <Input
        @value={{changeset.title}}
        id='title-input'
      />
    </div>
    <p>
      Author: {{changeset.author.name}}
    </p>
    <button type='submit'>
      submit
    </button>
  </form>
{{/let}}